@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

@font-face {
	font-family: 'Mariupol';
	src: url(./font/Mariupol-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Mariupol';
	src: url(./font/Mariupol-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Mariupol';
	src: url(./font/Mariupol-Medium.ttf);
	font-weight: 600;
}

//   ========== Variable ========

$fontsOne: 'Days One', sans-serif;
$fontsMain: 'Mariupol', sans-serif;
$mainWhite: #fff;
$mainDark: #131c26;
$mainGreen: #b7ca39;
$blockGray: #f6f7f9;
$textColor: #012030;

//
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $fontsMain;
	background: $mainWhite;
}

a {
	text-decoration: none;
	font-family: $fontsMain;
}

.container {
	max-width: 1320px;
	width: 100%;
	margin: 0 auto;
}

.aside {
	background: url('./img/waveBgAside.svg') no-repeat center center, $mainDark;
	// .aside__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 22px 0;
	}

	// .aside__mail

	&__mail {
		display: flex;
		gap: 11px;
	}

	// .aside__phones

	&__phones,
	&__phone {
		display: flex;
		gap: 24px;
	}

	a {
		color: $mainWhite;
		font-size: 17px;
	}
}

.header {
	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 0;
	}

	// .header__menu

	&__menu {
		display: flex;
		align-items: center;
		gap: 36px;
	}

	// .header__links

	&__links {
		display: flex;
		gap: 11px;
	}

	&__lang {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.nav {
	// .nav__list

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style-type: none;
		gap: 55px;

		a {
			display: flex;
			font-family: $fontsMain;
			color: #131313;
			font-size: 17px;
			padding-bottom: 5px;
			transition: all 0.1s ease;
			transform: scale(1);

			&:hover {
				transform: scale(1.1);
				border-bottom: 2px solid #131313;
			}
		}
	}
}

.links {
	border-radius: 100%;
	background: $mainDark;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero {
	background: url(./img/slider-h2-bg\ 2.jpg) no-repeat center center;
	// .hero__container

	&__container {
		padding: 124px 0 165px;
	}

	// .hero__text
	&__text {
		max-width: 800px;

		h1 {
			font-family: $fontsOne;
			font-size: 64px;
			line-height: 150%;
		}
	}

	// .hero__desc

	&__desc {
		margin: 28px 0 65px;
		font-size: 18px;
		line-height: 150%;
		max-width: 680px;
	}
}

.btn {
	color: $mainWhite;
	background: $mainGreen;
	border-radius: 50px;
	border: none;
	padding: 24px 48px;
	font-family: $fontsMain;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
